* {
  margin: 0;
  box-sizing: border-box;
}

img {
  height: auto;
  max-width: 100%;
  display: block;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 140px;

  --primary: #f2c849;
  --secondary: #e7e1df;
  --tertiary: #ea819a;
  --accent: #f3f3f5;
  --text: #404042;

  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --space-xxl: 5rem;
}

body {
  background-color: var(--accent);
}

main > section {
  grid-column: 2/3;
  padding-inline: 2rem;
  padding-block: 2rem;
}

/*TEKST*/

h1 {
  font-family: "montserrat", sans-serif;
  font-size: 2em;
  letter-spacing: 1.1px;
  color: var(--text);
}

h2 {
  font-family: "montserrat", sans-serif;
  font-size: 1.65rem;
  letter-spacing: 1.1px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding-top: 1rem;
  padding-left: 0;
  color: var(--text);
}

h3 {
  font-family: "montserrat", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 1.1px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: var(--text);
}

h4 {
  font-family: "montserrat", sans-serif;
  font-size: 1rem;
  letter-spacing: 1.1px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: var(--text);
  font-weight: 600;
}

p {
  font-family: "montserrat", sans-serif;
  font-size: 1rem;
  line-height: 25px;
  color: var(--text);
  padding-bottom: 1rem;
}

/*HEADER*/

header {
  position: sticky;
  top: 0;
  gap: 20px;
  text-align: left;
  box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.3);
  margin: 0;
  background-color: var(--secondary);
  display: grid;
  grid-template-columns: 2fr minmax(0, auto);
  z-index: 100;
}

header .logo {
  grid-area: 1/2;
}

header .logo img {
  border-radius: 20px;
  width: 100px;
  display: inline;
  padding: 1rem;
}

header ul li {
  list-style: none;
  margin: 20px 20px;
}

li a {
  padding: 1rem;
}

a {
  text-decoration: none;
  color: var(--text);
  font-family: "montserrat", sans-serif;
  font-weight: bold;
}

a:hover {
  color: var(--tertiary);
}

/*BURGER MENU*/

#menu {
  transition: transform 0.3s;
  transform-origin: top left;
}

#menuknap {
  display: inline-block;
  padding: 1rem;
}

.hidden {
  /*    display: none;*/
  /*    transform: scale(0);*/
  transform: translateX(-100%);
  opacity: 0;
  height: 0;
}

.hide {
  display: none;
}

.nav_style {
  background-color: white;
  padding: 1rem;
}

/*KNAPPER*/

button {
  margin-top: 1rem;
  border: 0;
  background-color: var(--primary);
  padding: 0.95rem;
  border-radius: 4px;
  color: var(--text);
  margin-right: 1rem;
  width: 300px;
}

.knap {
  text-align: end;
}

button:hover {
  background-color: var(--text);
}

/*FORSIDE*/

.splash {
  display: grid;
  align-items: end;
  grid-template-rows: 1fr auto auto 1fr;
  padding: 0;
}

.splash img {
  grid-area: 1/1;
  grid-row: 1/5;
}

.splash h1 {
  grid-area: 2/1;
  text-align: center;
  color: var(--tertiary);
  font-size: 3em;
}

.splash p {
  grid-area: 3/1;
  text-align: center;
}

/*PORTFOLIO*/

#portfolio > h2 {
  font-size: 1.85rem;
}

/*FORORD TIL FORSIDE OG PORTFOLIO*/

.forord_center {
  text-align: center;
}

.forord_center hr {
  text-align: center;
}

/**FÆLLES STYLES**/

/*DETAILS AND SUMMARY PÅ ALLE UNDERSIDER I PORTFOLIO*/

details > summary {
  font-family: "monserrat", sans-serif;
  background-color: var(--secondary);
  border-radius: 4px;
  margin-top: 1rem;
  padding: 1rem;
  border: black;
  cursor: pointer;
  font-weight: bolder;
}

.paragraph {
  margin-top: 1rem;
}

/*SECTIONS MED BAGGRUND TIL KANT*/

.wide {
  grid-column: 1/4;
  /*background-image: linear-gradient(to right, #f2c849, #ea819a);*/
  background-image: url(billeder/baggrund7.svg);
}

.wide h3 {
  text-align: center;
}

.wide {
  grid-column: 1/4;
  background-image: url(billeder/baggrund6.png);
  padding: 2rem;
}

.wide p {
  padding: 1rem 0.2rem;
  grid-column: 2/3;
}

.wide_2 {
  grid-column: 1/4;
  background-color: var(--secondary);
  padding: 2rem;
}

.wide_3 {
  grid-column: 1/4;
  background-color: var(--tertiary);
  padding: 2rem;
}

/*BILLEDE COLLAGE I OM_MIG OG FORSIDE*/

.tema_billeder .billede_1 {
  padding: 1rem;
}

.tema_billeder .billede_2 {
  padding: 1rem;
}

.tema_billeder .billede_3 {
  padding: 1rem;
}

/*OM MIG SIDE*/

.text_left {
  grid-row: 1;
}

.text_left p {
  padding-inline: 0.5rem;
}

/*PLACERER TEMABILLEDE TIL HØJRE I CONTENT OG ANIMATION*/
.right {
  grid-column: 2/3;
  grid-row: 1;
}

/*FOOTER*/

footer {
  background-color: var(--secondary);
}

.footer_info .navn,
.mail,
.telefon {
  padding: 0.5rem 2.5rem;
}

footer {
  padding: 2rem;
  background-color: var(--secondary);
}

.footer_info {
  border-left: 0;
  justify-content: space-around;
  color: var(--text);
  border-left: 2px solid var(--primary);
}

.footer_info p {
  padding: 0;
  margin-left: 0rem;
}

/*SKÆRME STØRRE END 700PX*/

@media (min-width: 700px) {
  main {
    display: grid;
    grid-template-columns: 1fr minmax(0, 1200px) 1fr;
  }

  main > section {
    padding-inline: 5rem;
  }

  /*TEKST*/
  h1 {
    margin-top: 1rem;
  }

  h2 {
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding-top: 0;
    padding-left: 0.5rem;
  }

  h3 {
    margin-bottom: 0;
    margin-top: 0;
    /*padding-left: 1rem;*/
    color: var(--text);
    /* padding-inline: 0.5rem;*/
  }

  h4 {
    padding-left: 0.5rem;
  }

  p {
    /*padding-inline: 1rem; */
    /* padding-inline: 0.5rem; */
  }

  /*HEADER */

  header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 1rem 1.5rem;
  }

  header .logo img {
    border-radius: 20px;
    width: 100px;
    display: inline;
  }

  #menuknap {
    display: none;
  }

  #menu.hidden {
    transform: translateX(0);
    opacity: 1;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    gap: 30px;
  }

  #menu li {
    display: inline-block;
  }

  /*KNAPPER*/
  button {
    width: 250px;
  }

  .knap {
    text-align: end;
    padding-block: 1rem;
  }

  /**FÆLLES STYLES**/
  /*SECTIONS MED BAGGRUND TIL KANT*/

  .wide {
    padding-inline: 5rem;
  }

  /* .wide_2 {
    padding-inline: 4rem;
  } */

  /*MUTUAL SECTION WRAPPER BRUGT TIL AT LAVE 2 GRID COLUMNS*/
  .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }

  /*STØRRELSE ANGIVET FOR ALLE TEMABILLEDER*/
  .temabillede {
    max-width: 500px;
  }

  /*KNAPPER UNDER TEMAER*/
  .opgave_info button {
    display: inline-block;
  }

  /*TEKST/ALLE PORTFOLIO OPGAVEBESKRIVELSER*/
  .paragraph {
    padding-block: 1rem;
  }

  /*ØVERSTE TEKST PÅ ALLE SIDER UNDTAGEN FORSIDE OG PORTFOLIO FORSIDE, DER ER FORORD CENTER*/
  .forord {
    display: grid;
    grid-template-columns: 1fr minmax(0, 1200px) 1fr;
    padding-inline: 3rem;
  }

  .forord hr p {
    grid-column: 2/3;
  }

  .forord,
  h1,
  h2,
  hr {
    grid-column: 2/3;
    padding-left: 0rem;
  }

  /*TEMA OVERSKRIFT "OPGAVER I TEMAET"*/
  .tema_overskrift {
    margin-bottom: 2rem;
  }

  /*DETAILS AND SUMMARY PÅ ALLE UNDERSIDER I PORTFOLIO*/
  details > summary {
    margin-top: 2rem;
  }

  /*FORSIDE*/
  .splash {
    grid-column: 1/4;
  }

  .splash h1 {
    font-size: 5em;
  }

  .tema_6 {
    display: grid;
    grid-template-columns: 1fr minmax(0, 1000px) 1fr;
  }

  .tema_6_indhold {
    grid-column: 2/3;
  }

  .tema_6_text p {
    padding-top: 0.5rem;
  }

  /*PORTFOLIO*/

  #portfolio > section {
    padding-inline: 3rem 5rem;
    padding-block: 0;
  }

  /*PORTFOLIO TIDSLINJE*/

  .col_left_top {
    background-color: var(--secondary);
    padding: 3rem 1rem;
    border-right: solid var(--text);
    border-radius: 0px 0px 0px 20px;
    padding-top: 100px;
  }

  .col_left {
    background-color: var(--secondary);
    padding: 3rem 1rem;
    border-right: solid var(--text);
    border-radius: 20px 0px 0px 20px;
  }

  .col_right {
    background-color: var(--secondary);
    padding: 3rem 1rem;
    border-left: solid;
    margin-left: -2.5px;
    border-radius: 0px 20px 20px 0px;
  }

  .col_right_bottom {
    background-color: var(--secondary);
    padding: 3rem 1rem;
    border-left: solid;
    margin-left: -2.5px;
    border-radius: 0px 20px 0px 0px;
    grid-column: 2/3;
    padding-bottom: 100px;
  }

  .col_right {
    grid-column: 2/3;
  }

  /*WEB UNDERSIDE*/

  .web_doku {
    display: grid;
    grid-template-columns: 1fr minmax(0, 1200px) 1fr;
    /* padding-inline: 3rem; */
  }

  .web_doku h2 {
    grid-column: 2/3;
  }

  .web_doku img {
    grid-column: 2/3;
  }

  /*DOKU PÅ ALLE UNDERSIDER, SKAL MÅSKE SLETTES*/

  .doku {
    display: grid;
    grid-template-columns: 1fr minmax(0, 1200px) 1fr;
  }

  .doku_indhold {
    grid-column: 2/3;
  }

  /*BILLEDE COLLAGE PÅ FORSIDE OG UNDER OM MIG*/

  /*FORSIDE BILLEDE COLLAGE*/
  .tema_billeder {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  /*OM MIG BILLEDE COLLAGE, TEMA BILLEDER BRUGT SOM GRID MED 3 FR*/
  .billede_wrapper {
    display: grid;
    grid-template-columns: 1fr minmax(0, 1200px) 1fr;
  }

  .om_mig_billeder {
    grid-column: 2/3;
  }

  /*OM MIG*/

  .text_left {
    padding-right: 2rem;
  }
  .text_left h2 {
    padding: 0.5rem;
  }

  .text_right {
    padding-right: 2rem;
  }

  .text_right h2 {
    padding: 0.5rem;
  }

  .section_wrapper2 .profilbillede2 img {
    margin-left: 0.7rem;
  }

  .section_wrapper2 .profilbillede1 img {
    margin-left: 0.7rem;
  }

  .section_wrapper2 .tegning {
    margin-left: 0.5rem;
    grid-column: 2/3;
  }

  /*FOOTER*/
  .footer_info {
    position: sticky;
    display: flex;
    justify-content: space-around;
    top: 0;
    padding: 1rem 1.5rem;
    margin: 0;
    border-left: 0;
  }

  .navn,
  .telefon,
  .mail {
    border-left: 2px solid var(--primary);
    padding-left: 25px;
    margin: 0;
  }

  .footer_info p {
    padding: 0;
    margin-left: 0rem;
    font-size: 0.75rem;
  }
}

/*SKÆRME STØRRE END 1000PX*/

@media (min-width: 1000px) {
  main > section {
    padding-inline: 5rem;
  }

  #portfolio > section {
    padding: 0rem 3rem;
  }

  /*TEKST*/
  h4 {
    padding-left: 0;
  }

  /**FÆLLES STYLES**/
  /*SECTIONS MED BAGGRUND TIL KANT*/

  .wide {
    padding: 5rem;
  }

  .wide_2 {
    padding: 0;
    padding-inline: 5rem;
    padding-block: 2rem;
  }

  /*ØVERSTE TEKST PÅ ALLE SIDER UNDTAGEN FORSIDE OG PORTFOLIO FORSIDE, DER ER FORORD CENTER*/

  .forord {
    padding-inline: 0;
    padding-right: 5rem;
    margin-right: 5rem;
  }

  /*STØRRE GAP TILFØJET TIL BILLEDE COLLAGE*/

  .tema_billeder {
    gap: 30px;
  }

  /*TEKST/ALLE PORTFOLIO OPGAVEBESKRIVELSER*/
  .paragraph {
    padding-right: 5rem;
    margin-right: 5rem;
  }

  /*FORSIDE*/

  .forord_center p {
    padding-top: 1rem;
  }

  .tema_6_text {
    padding-block: 2rem;
  }

  .tema_6_text p {
    padding: 1rem 1rem;
  }

  .tema_6_text h3 {
    padding-left: 1rem;
  }

  /*PORTFOLIO*/
  /*UNDERSIDE*/
  .tema_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  /*OM OS SIDE */

  .section_wrapper2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .section_wrapper2 .profilbillede1 .profilbillede2 {
    margin-top: auto;
    margin-bottom: auto;
  }

  .section_wrapper2 .profilbillede2 img {
    margin-left: 0;
  }

  .text_right {
    padding-right: 0;
    /*padding-left: 2rem;*/
    padding-left: 5rem;
  }

  .text_left {
    padding-right: 5rem;
  }

  .footer_info p {
    font-size: 1rem;
  }
}
